<div class="container" style="min-width: 900px">
<form name="blogForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-10">
                <p class="fs-h3 h3 text-center font-weight-bold" style="background-color: #2aabd2; color: #000">Blog Messages:</p>
            </div>
            <div class="col-xs-2">
                <button class="btn pull-right btn-danger" ng-click="onLogoutClick()"
                        ng-disabled="spinner" type="button" style="margin-top: 10px">Logout
                    <span class="hidden-xs vertical-align-middle" ng-show="spinner">
                        <i class="glyphicon glyphicon-refresh spinning"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="row fs-table-header text-center">
                <div class="col-xs-8 reduced-left-and-right-padding">
                    <div class="col-xs-2 reduced-left-and-right-padding"><b>#</b></div>
                    <div class="col-xs-10 reduced-left-and-right-padding"><b>Message</b></div>
                </div>
                <div class="col-xs-4 reduced-left-and-right-padding">
                    <div class="col-xs-6 reduced-left-and-right-padding"><b>Edit</b></div>
                    <div class="col-xs-6 reduced-left-and-right-padding"><b>Delete</b></div>
                </div>
            </div>
        </div>
        <hr style="margin-top: 5px; margin-bottom: 10px">
        <div ng-repeat="item in blog" ng-if="blog.length > 0">
            <message-item message-item="item" index="$index"></message-item>
        </div>
        <div class="row text-center" ng-if="blog.length === 0 && !onlyMyMessage">
            <b>There are no posts yet! You can start discussion first! :-)</b>
        </div>
        <div class="row text-center" ng-if="blog.length === 0 && onlyMyMessage">
            <b>You haven't written a blog post yet!</b>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="form-group">
                    <label class="control-label" for="addOrEditComment">Comment:</label>
                    <small ng-class="{
                        'bg-warning': message.messageText.length > 200,
                        'bg-danger' : message.messageText.length >= 255}">
                        0-255 chars
                    </small>
                    <textarea class="form-control" id="addOrEditComment"
                              name="addOrEditComment" maxlength="255" rows="4"
                              ng-model="message.messageText" style="resize: vertical"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-8 col-xs-1" >
                <button class="btn btn-success" ng-click="onSendOrEditButtonClick()"
                        ng-disabled="spinner" type="button" ng-if="newMessage">Send
                    <span class="hidden-xs vertical-align-middle" ng-show="spinner">
                        <i class="glyphicon glyphicon-refresh spinning"></i>
                    </span>
                </button>
                <button class="btn pull-right btn-warning" ng-click="onSendOrEditButtonClick()"
                        ng-disabled="spinner" type="button" ng-if="!newMessage">Edit
                    <span class="hidden-xs vertical-align-middle" ng-show="spinner">
                        <i class="glyphicon glyphicon-refresh spinning"></i>
                    </span>
                </button>
            </div>
            <div class="col-xs-3">
                <button class="btn pull-right btn-warning" ng-click="showOnlyMyMessageOrAll()"
                        ng-disabled="spinner" type="button" ng-if="!onlyMyMessage">Show Only My Message
                    <span class="hidden-xs vertical-align-middle" ng-show="spinner">
                        <i class="glyphicon glyphicon-refresh spinning"></i>
                    </span>
                </button>
                <button class="btn pull-right btn-warning" ng-click="showOnlyMyMessageOrAll()"
                        ng-disabled="spinner" type="button" ng-if="onlyMyMessage">Show All Message
                    <span class="hidden-xs vertical-align-middle" ng-show="spinner">
                        <i class="glyphicon glyphicon-refresh spinning"></i>
                    </span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
</div>